body {
  background-image: image("images/snow.gif");
  background-color: #0CCFD3;
  width: 90%;
}

div p {
  position: fixed;
  text-align: center;
  bottom: 1%;
  font-size: 125%;

}

div {
display: flex;
justify-content: center;
margin-top: 25%;
width: 100%;
}

input[placeholder] {
  background-color: #055254;
  text-align: center;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;

::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}
