body {
  background-color: #006A68;
  width: 90%;
}

div p {
  position: fixed;
  text-align: center;
  bottom: 1%;
  font-size: 125%;

}

.bckcolor {
  background-color: #008886;
  padding: 10% 5%;;
  border-width: 0.2px;
  border-color: black;
  border-style: solid;
}

div form {
display: flex;
justify-content: center;
margin-top: 15%;
width: 100%;
}

input[placeholder] {
  background-color: #055254;
  color: white;
  text-align: center;
  margin-right: 1%;
  padding: 1%;
}

input[type="text"] {
width: 100%;
}

#button {
  padding: 0 2%;
  width: 20%;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;

::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}
